

<div class = "container-fluid">
	<!-- <h1>Log in with modal fool; it works.</h1> -->
	<div class = "row">


		<div class = "md-3 gutter">gutter</div>
		<div class = "md-6 main">main		<div class = "btn btn-primary welcome">Welcome!</div>
</div>
		<div class = "md-3 gutter">gutter</div>
	</div>
</div>



<!-- 
md-3|md-6|md-3 this centers the page and things in the page (gutters) --><!-- 
inside md-6 will be button  that has the modal -->

