/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .*/
 
 

/*html {
	background-color: white	;
	background-size: 100%;


}*/
 a {
 	text-decoration: none; 
 	font-family: arial;

 }
 a:hover{
 
 	background-color: lime;
 }


.login{

	height:30px;	
	width: ;
	line-height: 30px;
	color:lime;
	background-color: white;
	border: 2px solid lime;
	border-radius: 6px;
	text-align: center;

}
.login:hover{
	background-color: lime;
	opacity:0.5;
	color: white;	
}

/*body { 
	
	width: auto;
	margin: auto;4
	background: rgba(255, 255, 255, 0.8);
}
*/

.notice { 
	
	color: green; 

}