// Place all the styles related to the art_cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=New+Rocker|Frijole);
table#art-car-table {
	width: 700px;
	
	th {
		padding: 10px;
		text-align: left;
		font-family: 'New Rocker', cursive;
	}

	td {
		padding: 0 10px;

		&.flame {
			&.yes {
				background: url(/assets/flame-icon.png) no-repeat center center;
				background-size: 40%;
			}
		}

		&.street {
			&.yes {
				background: url(/assets/roadway-icon.png) no-repeat center center;
				background-size: 60%;
			}
		}
	}
}

dt, dd {
	font-family: inherit;
	display: block;
}

dd {
	font-family: bold;
	margin-bottom: 1em;
}