// Place all the styles related to the art_cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{
	width: auto;
	background-color: lime;
	border-radius: 10px;
	opacity: .4;
	height:70px;
}

table#happy-hour-table {
	width: 700px;
	
	th {
		padding: 10px;
		text-align: left;
		font-family: 'arial';
	}

	td {
		padding: 0 10px;

	}
}


dt, dd {
	font-family: inherit;
	display: block;
}

dd {
	font-family: bold;
	margin-bottom: 1em;
}