/*aa*/

/*.containor{
 	background-image: url('http://imgur.com/C6dV1w5') repeat center;
 	height: 200px;
 	width: auto;
 	border: 4px solid black;


}

	table#happy-hour-table {
		width: auto;
		padding: 100px;
		&.th {

			text-align: left;
			font-family: 'helvetica';
		}
		

	}
dt, dd {
	font-family: inherit;
	display: block;
}

dd {
	font-family: bold;
	margin-bottom: 1em;
}*/